<div class="step" style="display: none;" data-value="51" data-ear="right" data-image="1">
  <div class="regular__block transparent">
    <audio controls class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_right_1 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        51%
      </span>
      <h2>{{ section.settings.right_ear_heading }}</h2>
      {{ section.settings.loudest_level_instruction }}
      <div class="md">
        {{ section.settings.speech_loud_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient1"><stop offset="10%" stop-color="#357950"></stop><stop offset="10%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient1)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" value="0.1">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }}</a>
    </div>
  </div>
</div>


<div class="step" style="display: none;" data-value="53" data-ear="right" data-image="2">
  <div class="regular__block transparent">
    <audio controls class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_right_2 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        53%
      </span>
      <h2>{{ section.settings.right_ear_heading }}</h2>
      {{ section.settings.understand_level_instruction }}
      <div class="md">
        {{ section.settings.speech_loud_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient2"><stop offset="10%" stop-color="#357950"></stop><stop offset="10%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient2)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" value="0.1">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }}</a>
    </div>
  </div>
</div>

<div class="step" style="display: none;" data-value="56" data-ear="right" data-image="3">
  <div class="regular__block transparent">
    <audio controls class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_right_3 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        56%
      </span>
      <h2>{{ section.settings.right_ear_heading }}</h2>
      {{ section.settings.barely_hear_instruction }}
      <div class="md">
        {{ section.settings.wave_sound_1000hz_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient3"><stop offset="0%" stop-color="#357950"></stop><stop offset="0%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient3)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" id="right_1000" value="0">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }}</a>
    </div>
  </div>
</div>


<div class="step" style="display: none;" data-value="59" data-ear="right" data-image="3">
  <div class="regular__block transparent">
    <audio controls class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_right_4 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        59%
      </span>
      <h2>{{ section.settings.right_ear_heading }}</h2>
      {{ section.settings.barely_hear_instruction }}
      <div class="md">
        {{ section.settings.wave_sound_2000hz_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient4"><stop offset="0%" stop-color="#357950"></stop><stop offset="0%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient4)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" id="right_2000" value="0">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }}</a>
    </div>
  </div>
</div>

<div class="step" style="display: none;" data-value="62" data-ear="right" data-image="4">
  <div class="regular__block transparent">
    <audio controls="" class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_right_5 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        62%
      </span>
      <h2>{{ section.settings.right_ear_heading }}</h2>
      {{ section.settings.barely_hear_instruction }}
      <div class="md">
        {{ section.settings.wave_sound_4000hz_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient5"><stop offset="0%" stop-color="#357950"></stop><stop offset="0%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient5)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" id="right_4000" value="0">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }}</a>
    </div>
  </div>
</div>


<div class="step" style="display: none;" data-value="64" data-ear="right" data-image="1">
  <div class="regular__block transparent">
    <audio controls="" class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_right_6 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        64%
      </span>
      <h2>{{ section.settings.right_ear_heading }}</h2>
      {{ section.settings.barely_hear_instruction }}
      <div class="md">
        {{ section.settings.wave_sound_6000hz_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient6"><stop offset="0%" stop-color="#357950"></stop><stop offset="0%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient6)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" id="right_6000" value="0">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }}</a>
    </div>
  </div>
</div>

<div class="step" style="display: none;"  data-value="66"  data-image="2">
  <div class="regular__block transparent">
    
    <div class="question__box">
      <span class="question">
        66%
      </span>
      <h2>{{ section.settings.switch_to_left_ear_text }}</h2>
      <div class="md">
        {{ section.settings.check_left_ear_icon | img_url: 'master' | img_tag }}
      </div>
    </div>
    
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.start_left_ear_button_text }}</a>
    </div>
  </div>
</div>


<div class="step " style="display:none;" data-value="67" data-ear="left" data-image="3">
  <div class="regular__block transparent">
    <audio controls="" class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_left_1 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        67%
      </span>
      <h2>{{ section.settings.left_ear_heading }}</h2>
      {{ section.settings.loudest_level_instruction }}
      <div class="md">
        {{ section.settings.speech_loud_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient7"><stop offset="10%" stop-color="#357950"></stop><stop offset="10%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient7)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" value="0.1">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }}</a>
    </div>
  </div>
</div>
<div class="step " style="display:none;" data-value="69" data-ear="left" data-image="4">
  <div class="regular__block transparent">
    <audio controls="" class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_left_2 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        69%
      </span>
      <h2>{{ section.settings.left_ear_heading }}</h2>
      {{ section.settings.understand_level_instruction }}
      <div class="md">
        {{ section.settings.speech_loud_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient8"><stop offset="10%" stop-color="#357950"></stop><stop offset="10%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient8)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" value="0.1">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }} </a>
    </div>
  </div>
</div>

<div class="step " style="display:none;" data-value="70" data-ear="left" data-image="1">
  <div class="regular__block transparent">
    <audio controls="" class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_left_3 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        70%
      </span>
      <h2>{{ section.settings.left_ear_heading }}</h2>
      {{ section.settings.barely_hear_instruction }}
      <div class="md">
        {{ section.settings.wave_sound_1000hz_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient9"><stop offset="0%" stop-color="#357950"></stop><stop offset="0%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient9)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" id="left_1000" value="0">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }} </a>
    </div>
  </div>
</div>

<div class="step " style="display:none;" data-value="72" data-ear="left" data-image="2">
  <div class="regular__block transparent">
    <audio controls="" class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_left_4 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        72%
      </span>
      <h2>{{ section.settings.left_ear_heading }}</h2>
      {{ section.settings.barely_hear_instruction }}
      <div class="md">
        {{ section.settings.wave_sound_2000hz_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient10"><stop offset="0%" stop-color="#357950"></stop><stop offset="0%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient10)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" id="left_2000" value="0">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }} </a>
    </div>
  </div>
</div>



<div class="step" style="display: none;" data-value="74" data-ear="left" data-image="3">
  <div class="regular__block transparent">
    <audio controls="" class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_left_5 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        74%
      </span>
      <h2>{{ section.settings.left_ear_heading }}</h2>
      {{ section.settings.barely_hear_instruction }}
      <div class="md">
        {{ section.settings.wave_sound_4000hz_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient11"><stop offset="0%" stop-color="#357950"></stop><stop offset="0%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient11)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" id="left_4000" value="0">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }} </a>
    </div>
  </div>
</div>

<div class="step" style="display: none;" data-value="77" data-ear="left" data-image="4">
  <div class="regular__block transparent">
    <audio controls="" class="volume__switcher--audio">
      <source src="{{ section.settings.audio_file_left_6 }}" type="audio/mp3">
    </audio>
    <div class="question__box">
      <span class="question">
        77%
      </span>
      <h2>{{ section.settings.left_ear_heading }}</h2>
      {{ section.settings.barely_hear_instruction }}
      <div class="md">
        {{ section.settings.wave_sound_6000hz_icon | img_url: 'master' | img_tag }}
      </div>
      <div class="audio__bar">
        
        <span>{{ section.settings.volume_mute_icon | img_url: 'master' | img_tag }}</span>
        <svg viewBox="0 0 715 26" class="sc-hzUJKx leSaCc"><defs><linearGradient id="desktop-volume-bar-gradient12"><stop offset="0%" stop-color="#357950"></stop><stop offset="0%" stop-color="#E6E7E8" stop-opacity="1"></stop></linearGradient></defs><path fill="url(#desktop-volume-bar-gradient12)" fill-rule="evenodd" d="M5.499 14.885L702.003.273c7.029-.148 12.847 5.43 12.994 12.46L715 13c0 7.18-5.82 13-13 13H5.5A5.5 5.5 0 010 20.5a5.617 5.617 0 015.499-5.615z"></path></svg>
        <span>{{ section.settings.volume_up_icon | img_url: 'master' | img_tag }}</span>
        <input type="hidden" id="left_6000" value="0">
      </div>
      <div class="audio__bar--controls">
        <a href="#" class="regular-btn">-</a>
        <a href="#" class="regular-btn">+</a>
      </div>
    </div>
    <div class="btn longer">
      <a href="#" class="regular-btn">{{ section.settings.next_button_text }} </a>
    </div>
  </div>
</div>
