<div class="step " style="display:none;" data-value="15"  data-image="2">
  <div class="regular__block transparent">
    <div class="question__box">
      <span class="question">
        15%
      </span>
      <div class="question__title">
        <p>How would you describe your hearing?</p>
      </div>
      <div class="plates__">
        <input type="hidden">
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          I have a lot of trouble
        </a>
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          I have some trouble
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          I have a little trouble
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Good
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Excellent
        </a>
      </div>
    </div>
    
    <div class="btn longer">
      <a href="#" class="regular-btn disabled">Continue </a>
    </div>
  </div>
</div>


<div class="step " style="display:none;" data-value="17"  data-image="3">
  <div class="regular__block transparent">
    <div class="question__box">
      <span class="question">
        17%
      </span>
      <div class="question__title">
        <p>Do you find it hard to have a conversation on the phone?</p>
      </div>
      <div class="plates__">
        <input type="hidden">
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Always
        </a>
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Often
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Occasionally
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Rarely
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Never
        </a>
      </div>
    </div>
    
    <div class="btn longer">
      <a href="#" class="regular-btn disabled">Continue </a>
    </div>
  </div>
</div>

<div class="step " style="display:none;" data-value="22"  data-image="4">
  <div class="regular__block transparent">
    <div class="question__box">
      <span class="question">
        22%
      </span>
      <div class="question__title">
        <p>In conversations in a quiet environment, do people seem to mumble?</p>
      </div>
      <div class="plates__">
        <input type="hidden">
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Always
        </a>
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Often
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Occasionally
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Rarely
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Never
        </a>
      </div>
    </div>
    
    <div class="btn longer">
      <a href="#" class="regular-btn disabled">Continue </a>
    </div>
  </div>
</div>


<div class="step " style="display:none;" data-value="27"  data-image="1">
  <div class="regular__block transparent">
    <div class="question__box">
      <span class="question">
        27%
      </span>
      <div class="question__title">
        <p>Do you feel like one ear hears significantly better than the other one? If so, which one?</p>
      </div>
      <div class="plates__">
        <input type="hidden">
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Left
        </a>
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Right
        </a>
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Both about the same
        </a>
      </div>
    </div>
    
    <div class="btn longer">
      <a href="#" class="regular-btn disabled">Continue </a>
    </div>
  </div>
</div>


<div class="step " style="display:none;" data-value="32"  data-image="2">
  <div class="regular__block transparent">
    <div class="question__box">
      <span class="question">
        32%
      </span>
      <div class="question__title">
        <p>Do you find it hard to follow conversations in a noisy environment? <em>...such as in noisy restaurants or in a crowd</em></p>
      </div>
      <div class="plates__">
        <input type="hidden">
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Always
        </a>
        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Often
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Occasionally
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Rarely
        </a>

        <a href="#" class="elem">
          <span><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs></defs><path class="cls-1" d="m20,40C9,40,0,31,0,20S9,0,20,0s20,9,20,20-9,20-20,20Zm-2.5-12.7l12.4-12.4c.6-.6.6-1.5,0-2.1-.6-.6-1.5-.6-2.1,0l-11.3,11.3-4.1-4.1c-.6-.6-1.5-.6-2.1,0-.6.6-.6,1.5,0,2.1l5.2,5.2c.3.3.7.4,1.1.4s.8-.1,1.1-.4Z"></path></svg></span>
          Never
        </a>
      </div>
    </div>
    
    <div class="btn longer">
      <a href="#" class="regular-btn disabled">Continue </a>
    </div>
  </div>
</div>




<div class="step " style="display:none;" data-value="36"  data-image="3">
  <div class="regular__block transparent">
    <div class="question__box">
      <h2>{{section.settings.find_place_title}}</h2>
      <div class="question__title">
        <p>{{section.settings.find_place_description}}</p>
      </div>
      <div class="md">
        <img src="{{section.settings.find_place_icon | img_url: "master" }}" width="200" height="auto" alt="icon" />
      </div>
    </div>
    
    <div class="btn longer">
      <a href="#" class="regular-btn">{{section.settings.find_place_btn_text}} </a>
    </div>
  </div>
</div>



<div class="step " style="display:none;" data-value="47"  data-image="4">
  <div class="regular__block transparent">
    <div class="question__box">
      <h2>{{section.settings.connect_headphone_title}}</h2>
      <div class="popup">
        <a href="#" class="open__volume--popup">{{section.settings.connect_headphone_description}}</a>
      </div>
      <div class="md">
        <img src="{{section.settings.connect_headphone_icon | img_url: "master" }}" width="200" height="auto" alt="icon" />
      </div>
    </div>
    
    <div class="btn longer">
      <a href="#" class="regular-btn">{{section.settings.connect_headphone_btn_text}}</a>
    </div>
  </div>
</div>