{% schema %}
{
    "name": "Custom Key Features",
    "settings": [
        { "type": "image_picker", "id": "bg", "label": "背景" },
        { "type": "image_picker", "id": "bg_mb", "label": "背景(手机端)" },
        { "type": "header", "content": "标题" },
        { "type": "liquid", "id": "title", "label": "标题" },
        { "type": "text", "id": "short_desc", "label": "短描述" },

        { "type": "video", "id": "video", "label": "视频" },
        { "type": "image_picker", "id": "image", "label": "视频封面" },
        { "type": "header", "content": "介绍1" },
        { "type": "text", "id": "key_title1", "label": "标题" },
        { "type": "text", "id": "key_info1_1", "label": "内容1" },
        { "type": "text", "id": "key_info1_2", "label": "内容2" },
        { "type": "header", "content": "介绍2" },
        { "type": "text", "id": "key_title2", "label": "标题" },
        { "type": "text", "id": "key_info2_1", "label": "内容1" },
        { "type": "text", "id": "key_info2_2", "label": "内容2" },

        { "type": "header", "content": "配置" },
        { "type": "text", "id": "custom_class", "label": "自定义class" }
    ],

    "presets": [
        {
        "name": "Custom Key Features",
        "category": "custom"
        }
    ]
}
{% endschema %}


<link rel="stylesheet" href="{{ 'custom-key-features.css' | asset_url }}" media="all" >

<div class="custom-key-features" data-section-id="{{ section.id }}">

    <div class="bg">
        <picture>
            <source data-srcset="{{ section.settings.bg_mb | image_url: width: 767 }}"  media="(max-width: 767px)" />
            <source data-srcset="{{ section.settings.bg | image_url: width: section.settings.bg.width }}" media="(min-width: 768px)" />
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-lzsrc="{{ section.settings.bg_mb | image_url: width: 767 }}" class="js-lazy" width="auto" height="auto" />
        </picture>
    </div>
    <div class="key-features-inner safe-container">
        
        <div class="block-content">
            <div class="heading"><h3>{{ section.settings.title |  newline_to_br }}</h3></div>
            <div class="short-desc"><div>{{ section.settings.short_desc }}</div></div>
        </div>

        <div class="block-video">
            <div class="key-items">
            {% for i in (1..2) %}
            {% capture key_title %}key_title{{ i }}{% endcapture %}
            {% capture key_info1 %}key_info{{ i }}_1{% endcapture %}
            {% capture key_info2 %}key_info{{ i }}_2{% endcapture %}
            
            {% if section.settings[key_title] != blank %}
                <div class="key-item">
                    <div class="key-title">{{ section.settings[key_title] }}</div>

                    {% if section.settings[key_info1] != blank %}
                    <div class="key-info1">
                        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 11.0759H25V12.308H0V11.0759Z" fill="white"/>
                        <path d="M0 9.84375H25V11.0759H0V9.84375Z" fill="#BF0A30"/>
                        <path d="M0 13.5359H25V14.768H0V13.5359Z" fill="white"/>
                        <path d="M0 14.7679H25V16H0V14.7679ZM0 12.3037H25V13.5358H0V12.3037Z" fill="#BF0A30"/>
                        <path d="M0 8.61182H25V9.84393H0V8.61182Z" fill="white"/>
                        <path d="M0 4.91973H25V6.15184H0V4.91973ZM0 2.45769H25V3.6898H0V2.45769ZM0 7.37959H25V8.6117H0V7.37959ZM0 0H25V1.22993H0V0Z" fill="#BF0A30"/>
                        <path d="M0 3.6875H25V4.91961H0V3.6875ZM0 6.14954H25V7.38165H0V6.14954Z" fill="white"/>
                        <path d="M0 0H10V8.62694H0V0Z" fill="#002868"/>
                        <path d="M7.51139 0.459229L7.57957 0.663854H7.80457L7.62502 0.790113L7.69321 0.994739L7.51366 0.866303L7.33184 0.994739L7.4023 0.790113L7.22275 0.663854H7.44548L7.51139 0.459229ZM7.51139 2.24862L7.57957 2.45324H7.80457L7.62502 2.5795L7.69321 2.78413L7.51366 2.65787L7.33184 2.78413L7.4023 2.5795L7.22275 2.45324H7.44548L7.51139 2.24862ZM7.51139 4.04236L7.57957 4.24698H7.80457L7.62502 4.37324L7.69321 4.57787L7.51366 4.45161L7.33184 4.57787L7.4023 4.37324L7.22275 4.24698H7.44548L7.51139 4.04236ZM7.51139 5.87746L7.57957 6.08209H7.80457L7.62502 6.20617L7.69321 6.41297L7.51366 6.28671L7.33184 6.41297L7.4023 6.20617L7.22275 6.08209H7.44548L7.51139 5.87746ZM7.51139 7.62766L7.57957 7.83011H7.80457L7.62502 7.95855L7.69321 8.161L7.51366 8.03474L7.33184 8.161L7.4023 7.95855L7.22275 7.83011H7.44548L7.51139 7.62766ZM5.83639 0.459229L5.90684 0.663854H6.12957L5.95002 0.790113L6.01821 0.994739L5.83866 0.866303L5.65911 0.994739L5.7273 0.790113L5.54775 0.663854H5.77275L5.83639 0.459229ZM5.83639 2.24862L5.90684 2.45324H6.12957L5.95002 2.5795L6.01821 2.78413L5.83866 2.65787L5.65911 2.78413L5.7273 2.5795L5.54775 2.45324H5.77275L5.83639 2.24862ZM5.83639 4.04236L5.90684 4.24698H6.12957L5.95002 4.37324L6.01821 4.57787L5.83866 4.45161L5.65911 4.57787L5.7273 4.37324L5.54548 4.24698H5.77048L5.83639 4.04236ZM5.83639 5.87746L5.90684 6.08209H6.12957L5.95002 6.20617L6.01821 6.41297L5.83866 6.28671L5.65911 6.41297L5.7273 6.20617L5.54775 6.08209H5.77275L5.83639 5.87746ZM5.83639 7.62766L5.90684 7.83011H6.12957L5.95002 7.95855L6.01821 8.161L5.83866 8.03474L5.65911 8.161L5.7273 7.95855L5.54775 7.83011H5.77275L5.83639 7.62766ZM4.16593 0.459229L4.23411 0.663854H4.45684L4.2773 0.790113L4.34775 0.994739L4.16821 0.866303L3.98639 0.994739L4.05684 0.790113L3.87502 0.663854H4.10002L4.16593 0.459229ZM4.16593 2.24862L4.23411 2.45324H4.45684L4.2773 2.5795L4.34775 2.78413L4.16821 2.65787L3.98639 2.78413L4.05684 2.5795L3.87502 2.45324H4.10002L4.16593 2.24862ZM4.16593 4.04236L4.23411 4.24698H4.45684L4.2773 4.37324L4.34775 4.57787L4.16821 4.45161L3.98639 4.57787L4.05684 4.37324L3.87502 4.24698H4.10002L4.16593 4.04236ZM4.16593 5.87746L4.23411 6.08209H4.45684L4.2773 6.20617L4.34775 6.41297L4.16821 6.28671L3.98639 6.41297L4.05684 6.20617L3.87502 6.08209H4.10002L4.16593 5.87746ZM4.16593 7.62766L4.23411 7.83011H4.45684L4.2773 7.95855L4.34775 8.161L4.16821 8.03474L3.98639 8.161L4.05684 7.95855L3.87502 7.83011H4.10002L4.16593 7.62766ZM2.48866 0.459229L2.55912 0.663854H2.78412L2.6023 0.790113L2.67275 0.994739L2.49093 0.866303L2.31139 0.994739L2.38184 0.790113L2.20002 0.663854H2.42502L2.48866 0.459229ZM2.48866 2.24862L2.55912 2.45324H2.78412L2.6023 2.5795L2.67275 2.78413L2.49093 2.65787L2.31139 2.78413L2.38184 2.5795L2.20002 2.45324H2.42502L2.48866 2.24862ZM2.48866 4.04236L2.55912 4.24698H2.78412L2.6023 4.37324L2.67275 4.57787L2.49093 4.45161L2.31139 4.57787L2.38184 4.37324L2.20002 4.24698H2.42502L2.48866 4.04236ZM2.48866 5.87746L2.55912 6.08209H2.78412L2.6023 6.20617L2.67275 6.41297L2.49093 6.28671L2.31139 6.41297L2.38184 6.20617L2.20002 6.08209H2.42502L2.48866 5.87746ZM2.48866 7.62766L2.55912 7.83011H2.78412L2.6023 7.95855L2.67275 8.161L2.49093 8.03474L2.31139 8.161L2.38184 7.95855L2.20002 7.83011H2.42502L2.48866 7.62766ZM0.818206 0.459229L0.886388 0.663854H1.11139L0.92957 0.790113L1.00002 0.994739L0.820479 0.866303L0.638661 0.994739L0.709115 0.790113L0.527297 0.663854H0.752297L0.818206 0.459229ZM0.818206 2.24862L0.886388 2.45324H1.11139L0.92957 2.5795L1.00002 2.78413L0.818206 2.65787L0.636388 2.78413L0.706843 2.5795L0.525024 2.45324H0.750024L0.818206 2.24862ZM0.818206 4.04236L0.886388 4.24698H1.11139L0.92957 4.37324L1.00002 4.57787L0.820479 4.45161L0.638661 4.57787L0.709115 4.37324L0.527297 4.24698H0.752297L0.818206 4.04236ZM0.818206 5.87746L0.886388 6.08209H1.11139L0.92957 6.20617L1.00002 6.41297L0.820479 6.28671L0.638661 6.41297L0.709115 6.20617L0.527297 6.08209H0.752297L0.818206 5.87746ZM0.818206 7.62766L0.886388 7.83011H1.11139L0.92957 7.95855L1.00002 8.161L0.818206 8.03474L0.636388 8.161L0.706843 7.95855L0.525024 7.83011H0.750024L0.818206 7.62766ZM8.36593 1.35392L8.43411 1.55855H8.65911L8.47957 1.68481L8.54775 1.88943L8.36821 1.76317L8.18639 1.88943L8.25684 1.68481L8.0773 1.55855H8.30002L8.36593 1.35392ZM8.36593 3.20426L8.43411 3.40889H8.65911L8.47957 3.53515L8.54775 3.73977L8.36821 3.61351L8.18639 3.73977L8.25684 3.53515L8.0773 3.40889H8.30002L8.36593 3.20426ZM8.34775 5.0176L8.41593 5.22222H8.64093L8.46139 5.34848L8.52957 5.55311L8.35002 5.42685L8.17048 5.55311L8.23866 5.34848L8.05911 5.22222H8.28184L8.34775 5.0176ZM8.33184 6.80698L8.4023 7.01161H8.62502L8.44548 7.13787L8.51366 7.34249L8.33412 7.21624L8.15457 7.34249L8.22275 7.13787L8.04321 7.01161H8.26593L8.33184 6.80698ZM6.69093 1.35392L6.75911 1.55855H6.98411L6.80457 1.68481L6.87275 1.88943L6.69321 1.76317L6.51139 1.88943L6.58184 1.68481L6.4023 1.55855H6.62502L6.69093 1.35392ZM6.69093 3.20426L6.75911 3.40889H6.98411L6.80457 3.53515L6.87275 3.73977L6.69321 3.61351L6.51139 3.73977L6.58184 3.53515L6.4023 3.40889H6.62502L6.69093 3.20426ZM6.67502 5.0176L6.74548 5.22222H6.96821L6.78866 5.34848L6.85911 5.55311L6.6773 5.42685L6.49775 5.55311L6.56593 5.34848L6.38639 5.22222H6.60911L6.67502 5.0176ZM6.65684 6.80698L6.7273 7.01161H6.95002L6.77048 7.13787L6.84093 7.34249L6.65911 7.21624L6.47957 7.34249L6.54775 7.13787L6.36821 7.01161H6.59093L6.65684 6.80698ZM5.01593 1.28862L5.08639 1.49324H5.30911L5.12957 1.6195L5.20002 1.82413L5.01821 1.69787L4.83866 1.82413L4.90684 1.6195L4.7273 1.49324H4.95002L5.01593 1.28862ZM5.01593 3.13896L5.08639 3.34358H5.30911L5.12957 3.46984L5.20002 3.67447L5.01821 3.54821L4.83866 3.67447L4.90684 3.46984L4.7273 3.34358H4.95002L5.01593 3.13896ZM5.00002 4.95229L5.07048 5.15692H5.29321L5.11366 5.28317L5.18411 5.4878L5.0023 5.36154L4.82048 5.4878L4.89093 5.28317L4.71139 5.15692H4.93411L5.00002 4.95229ZM4.98411 6.74603L5.05457 6.95066H5.2773L5.09775 7.07474L5.16821 7.28154L4.98639 7.15528L4.80684 7.28154L4.87502 7.07474L4.69548 6.95066H4.91821L4.98411 6.74603ZM3.34321 1.27338L3.41366 1.478H3.63866L3.45684 1.60426L3.5273 1.80671L3.34548 1.68045L3.16593 1.80671L3.23639 1.60426L3.05457 1.478H3.27957L3.34321 1.27338ZM3.34321 3.12154L3.41366 3.32617H3.63866L3.45684 3.45243L3.5273 3.65705L3.34548 3.53079L3.16593 3.65705L3.23639 3.45243L3.05457 3.32617H3.27957L3.34321 3.12154ZM3.32502 4.93488L3.39548 5.13732H3.62048L3.43866 5.26358L3.50911 5.46821L3.3273 5.34195L3.14775 5.46821L3.21593 5.26358L3.03639 5.13732H3.26139L3.32502 4.93488ZM3.30912 6.72644L3.37957 6.93107H3.60457L3.42275 7.05732L3.49321 7.26195L3.31139 7.13569L3.13184 7.26195L3.2023 7.05732L3.02048 6.93107H3.24548L3.30912 6.72644ZM1.66821 1.23855L1.73866 1.44317H1.96366L1.78184 1.56943L1.8523 1.77406L1.67048 1.6478L1.49093 1.77406L1.55912 1.56943L1.37957 1.44317H1.60457L1.66821 1.23855ZM1.66821 3.08889L1.73866 3.29351H1.96366L1.78184 3.41977L1.8523 3.6244L1.67048 3.49814L1.49093 3.6244L1.55912 3.41977L1.37957 3.29351H1.60457L1.66821 3.08889ZM1.6523 4.9044L1.72275 5.10902H1.94775L1.76593 5.23528L1.83639 5.43991L1.65457 5.31147L1.47502 5.43991L1.54321 5.23528L1.36366 5.10902H1.58866L1.6523 4.9044ZM1.63866 6.69379L1.70684 6.89841H1.93184L1.75002 7.02467L1.82048 7.2293L1.64093 7.10304L1.45912 7.2293L1.52957 7.02467L1.34775 6.89841H1.57275L1.63866 6.69379ZM9.18639 0.459229L9.25457 0.663854H9.47957L9.30002 0.790113L9.36821 0.994739L9.18866 0.866303L9.00684 0.994739L9.0773 0.790113L8.89775 0.663854H9.12048L9.18639 0.459229ZM9.18639 2.24862L9.25457 2.45324H9.47957L9.30002 2.5795L9.36821 2.78413L9.18866 2.65787L9.00684 2.78413L9.0773 2.5795L8.89775 2.45324H9.12048L9.18639 2.24862ZM9.18639 4.04236L9.25457 4.24698H9.47957L9.30002 4.37324L9.36821 4.57787L9.18866 4.45161L9.00684 4.57787L9.0773 4.37324L8.89775 4.24698H9.12048L9.18639 4.04236ZM9.18639 5.87746L9.25457 6.08209H9.47957L9.30002 6.20617L9.36821 6.41297L9.18866 6.28671L9.00684 6.41297L9.0773 6.20617L8.89775 6.08209H9.12048L9.18639 5.87746ZM9.18639 7.62766L9.25457 7.83011H9.47957L9.30002 7.95855L9.36821 8.161L9.18866 8.03474L9.00684 8.161L9.0773 7.95855L8.89775 7.83011H9.12048L9.18639 7.62766Z" fill="white"/>
                        </svg>

                        {{ section.settings[key_info1] }}</div>
                    {% endif %}

                    {% if section.settings[key_info2] != blank %}
                        <div class="key-info2">{{ section.settings[key_info2] }}</div>
                        {% endif %}
                </div>
            {% endif %}
            {% endfor %}
            </div>

            {% if section.settings.video != blank and section.settings.image != blank %}
            {% if section.settings.video.sources[1] != blank %}
                {% assign video_src = section.settings.video.sources[1] %}
            {%  else %}
                {% assign video_src = section.settings.video.sources[0] %}
            {% endif %}
            <div class="video-box">
                <div class="video-container">
                    <div class="video-image">
                        <div class="player-icon videoBtn" data-video-src="{{ video_src.url }}">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="50" height="50" rx="25" fill="#2D2D2D"/>
                            <path d="M37.5959 23.3091C38.5126 23.8384 38.5126 25.1616 37.5959 25.6909L20.0627 35.8137C19.1459 36.343 17.9999 35.6814 17.9999 34.6228L17.9999 14.3772C17.9999 13.3186 19.1459 12.657 20.0627 13.1863L37.5959 23.3091Z" fill="#FFFEFB"/>
                            </svg>
                        </div>
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-lzsrc="{{ section.settings.image | image_url: width: 800 }}" class="js-lazy" width="auto" height="auto" />
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
; (function () {
    const oSection = document.querySelector('[data-section-id="{{ section.id }}"]');

    function initVideo() {
        const videoBtn = oSection.querySelector('.video-container .videoBtn');

        videoBtn.addEventListener('click', () => {
            const videoSrc = videoBtn.getAttribute('data-video-src');
            if(videoSrc) {
                globalPopupVideo(videoSrc);
            }
        });
    }
    
    window.addEventListener('DOMContentLoaded', function() {
        initVideo();
    });

})();
</script>