{% liquid
  assign has_sidebar = false
  if section.blocks.size > 0
    assign has_sidebar = true
  endif
%}

<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  {% render 'section-padding' %}
{%- endstyle -%}

<div class="section-{{ section.id }}-padding container {% if has_sidebar %}has_sidebar{% endif %}">
  {% if has_sidebar %}<div class="left-sidebar">{% endif %}
  <div class="page-header">
    <div class="page-header__inner">
      <h1 class="main-page-title page-title title--page h2">
        {{ page.title | escape }}
      </h1>
    </div>
  </div>
  <div class="rte">
    {{ page.content }}
  </div>
  {% if has_sidebar %}</div>{% endif %}

  {% if has_sidebar %}
    <div class="right-sidebar">
      <div class="right-sidebar__inner">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'sidebar_reviews' %}
                <div class="sidebar-reviews">
                    <h4 class="sidebar-reviews_heading">{{ block.settings.heading }}</h4>
                    
                    {% for i in (1..5) %}
                      {% capture image %}image{{ i }}{% endcapture %}
                      {% capture description %}description{{ i }}{% endcapture %}
                      {% capture name %}name{{ i }}{% endcapture %}
                      {% capture text %}text{{ i }}{% endcapture %}

                      {% if block.settings[image] != blank and block.settings[description] %}
                        <div class="reviews-item">
                          <div class="reviews-image"><img src="{{ block.settings[image] | image_url: width: 500 }}" width="500" height="auto" /> </div>
                          <div class="reviews-description">{{ block.settings[description] }}</div>
                          <div class="reviews-name">{{ block.settings[name] }}</div>
                          <div class="reviews-text">{{ block.settings[text] }}</div>
                        </div>
                      {% endif %}
                    {% endfor %}
                </div>


            {% when 'sidebar_image' %}
                <div class="sidebar-image">
                    <div class="image">
                      <img src="{{ block.settings.image | image_url: width: 500 }}" width="500" height="auto" />
                    </div>

                    {% if block.settings.text != blank %}
                    <div class="text-box">
                      {% if block.settings.text != blank %} <div class="text" style="color:{{ block.settings.text_color }};">{{ block.settings.text | newline_to_br }}</div>{% endif %}
                    </div>
                    {% endif %}

                    {% if block.settings.btn_link != blank %}
                    <div class="btn-box">
                      <a href="{{ block.settings.btn_link }}" style="color:{{ block.settings.btn_color }}; background-color:{{ block.settings.btn_bg_color }};">
                        <span>{{ block.settings.btn_label | newline_to_br }}</span>
                      </a>
                    </div>
                    {% endif %}
                </div>    

        {% endcase %}
       {% endfor %}
      </div>
    </div>
  {% endif %}
  
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "page-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ],

  "blocks": [
    {
      "type": "sidebar_reviews",
      "name": "Sidebar Reviews",
      "settings": [
        { "type": "text", "id": "heading", "label": "Heading", "default": "Customer Reviews" },

        { "type": "header", "content": "reviews" },

        { "type": "image_picker", "id": "image1", "label": "Image" },
        { "type": "text", "id": "description1", "label": "Description" },
        { "type": "text", "id": "name1", "label": "Name"},
        { "type": "text", "id": "text1", "label": "Text"},

        { "type": "image_picker", "id": "image2", "label": "Image" },
        { "type": "text", "id": "description2", "label": "Description" },
        { "type": "text", "id": "name2", "label": "Name"},
        { "type": "text", "id": "text2", "label": "Text"},

        { "type": "image_picker", "id": "image3", "label": "Image" },
        { "type": "text", "id": "description3", "label": "Description" },
        { "type": "text", "id": "name3", "label": "Name"},
        { "type": "text", "id": "text3", "label": "Text"},

        { "type": "image_picker", "id": "image4", "label": "Image" },
        { "type": "text", "id": "description4", "label": "Description" },
        { "type": "text", "id": "name4", "label": "Name"},
        { "type": "text", "id": "text4", "label": "Text"},

        { "type": "image_picker", "id": "image5", "label": "Image" },
        { "type": "text", "id": "description5", "label": "Description" },
        { "type": "text", "id": "name5", "label": "Name"},
        { "type": "text", "id": "text5", "label": "Text"},

      ]
    },
    {
      "type": "sidebar_image",
      "name": "Sidebar Image",
      "settings": [
        { "type": "image_picker", "id": "image", "label": "图片" },
        { "type": "liquid", "id": "text", "label": "文本"},
        { "type": "color", "id": "text_color", "label": "文本颜色", "default":"#4aa3e9"},

        { "type": "liquid", "id": "btn_label", "label": "按钮文本" },
        { "type": "url", "id": "btn_link", "label": "按钮链接" },
        { "type": "color", "id": "btn_color", "label": "按钮文本颜色", "default":"#fff"},
        { "type": "color", "id": "btn_bg_color", "label": "按钮背景颜色", "default":"#000"},
      ]
    },
  ],
}
{% endschema %}
